header{
    background-image: url("assets/books.png");
    height: 50%;
    opacity: 0.8;

}
header div h1, header div h2{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 4px #252525;
    font-family: Verdana;
}


header div h1{
    padding: 200px 0 0 0;
}

header div h2{
    color: aliceblue;
    font-style: italic;

}

.list ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.list-li{
    list-style: none;
    width:200px;
    box-shadow: 8px 10px #c9c8c8;
    padding: 5px;
    
}
.list-li img{
    width:190px;
}

footer{
    display: flex;
}

footer div p{
    background-color: red;
}


