header{
    background-image: url("assets/books.png");
    height: 10%;
    opacity: 0.8;
    border-top: solid;
    border-width: 30px;
    border-color: #103f22;

}
header div h1, header div h2{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 4px #252525;
    font-family: Verdana;
}



header div h2{
    color: aliceblue;
    font-style: italic;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.list ul{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border-top: solid;
    border-width:thin medium thick 10px; */
}

.list-li{
    list-style: none;
    width:200px;
    box-shadow: 8px 10px #c9c8c8;
    padding: 5px;
    margin:10px;
 
}
.list-li img{
    width:190px;
}
.list-li button{
    width:190px;
    margin: 15px 5px 15px 5px;
    border: none;
    background-color: #fce043;
    color: rgb(255, 255, 255);
    padding:3px;
    font-size: large;
    font-weight: bold;
}

#form-wrapper{
    border-top: solid;
    border-bottom: solid;
    border-width:thin;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

label{
    font-family: Verdana;
}

input{
  height: 40px;
  width: 100%;
  margin: 3px;
}
input[type=submit]{
    border: none;
    background-color: #2e824d;
    color: rgb(255, 255, 255);
    padding:3px;
    font-size: large;
    font-weight: bold;
}
form{
    margin: 10px auto 10px auto;
    width: 400px; 
    display: flex;
    flex-direction: column;

}

.hidden{
    display: none;
}

footer{

    text-align: center;
}